<div class="container">
    <div class="form-container">
        <form action="/create" method="POST" enctype="multipart/form-data">
            <p style="font-size: 70%;">Please fill in the form.</p>
            <input type="text" name="workName" placeholder="Work Name" required>
            <br>
            <input type="text" name="task" placeholder="Task (e.g. Regression, Classification)" required>
            <br>
            <input type="text" name="modelName" placeholder="Model Name" required>
            <br>
            <input type="text" name="target" placeholder="Target Column" required>
            <br>
            <br>
            <input class="btn" name="csvFile" type="file" accept=".csv"/ required>
            <br><br>
            <button class="btn">Create</button>
        </form>
    </div>
</div>

